html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: 'josenfin Sans', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}
